<%= form_for([@coach, @student, @lesson]) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= f.label :date %>
	<%= f.date_select :date, :order => [:day, :month, :year], :default => @time_now %><br />
	<%= f.label "Time" %>
	<%= f.time_select :date, :ignore_date => true, :minute_step => 5, :include_seconds => false, :default => @time_now %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
